@import url("project://database/Assets/Scripts/UIToolkit_mine/StyleSheets/LoGiViTStyleVariables.uss?fileID=7433441132597879392&guid=fb1cdcbf63e3cc44abfe0966bfe69e51&type=3#LoGiViTStyleVariables");

.footer {
    flex-grow: 1;
    flex-shrink: 1;
    height: 25%;
    flex-direction: row;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}

.body {
    flex-grow: 1;
    height: 60%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    flex-shrink: 1;
}

.footer-component {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.footer-contact {
    flex-shrink: 1;
    -unity-text-outline-color: rgb(0, 0, 0);
    font-size: 35px;
    color: var(--dark-green);
    -unity-font-definition: var(--bold-font);
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    -unity-text-align: upper-center;
    white-space: normal;
    -unity-text-auto-size: best-fit 10px 35px;
    -unity-text-generator: advanced;
}

.body-welcome {
    height: 70%;
    color: var(--dark-green);
    -unity-font-definition: var(--bold-font);
    font-size: 35px;
    -unity-text-align: middle-left;
    justify-content: center;
    align-self: center;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: normal;
    -unity-text-auto-size: best-fit 10px 35px;
    -unity-text-generator: advanced;
}

.body-btns {
    flex-grow: 0;
    flex-shrink: 0;
    height: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: auto;
    align-content: center;
    flex-basis: auto;
    padding-left: 5%;
    padding-right: 5%;
}
